<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.q.ai.mvc.dao.Intent2SlotDao">

    <resultMap id="intent2Slot" type="com.q.ai.mvc.dao.po.Intent2Slot">
        <result property="id" column="id"/>
        <result property="intentId" column="intentId"/>
        <result property="slotId" column="slotId"/>
        <result property="seq" column="seq"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="createTime"/>
    </resultMap>



<!--    <select id="getById" resultType="Intent2Slot">-->
<!--        select * from intent2Slot where id = #{id}-->
<!--    </select>-->

    <select id="getByIntentIdAndSlotId" resultType="com.q.ai.mvc.dao.po.Intent2Slot">
        select * from intent2Slot where intentId = #{intentId} and slotId = #{slotId}
    </select>

    <select id="getGreaterSeq" resultType="com.q.ai.mvc.dao.po.Intent2Slot">
        select * from intent2Slot where intentId = #{intentId} and seq &gt; #{seq} order by seq ASC limit 1;
    </select>

    <select id="getLessSeq" resultType="com.q.ai.mvc.dao.po.Intent2Slot">
        select * from intent2Slot where intentId = #{intentId} and seq &lt; #{seq} order by seq DESC limit 1;
    </select>


    <select id="getCountByIntentId" resultType="int">
        select count(id) from intent2Slot where intentId = #{intentId}
    </select>

    <select id="getSlotMaxSeqByIntentId" resultType="com.q.ai.mvc.dao.po.Intent2Slot">
        select * from intent2Slot where intentId = #{intentId} order by seq desc limit 1
    </select>



    <insert id="inserts" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
        insert into intent2Slot(
        intentId,
        slotId,
        seq,
        creator,
        createTime
        ) values
        <foreach collection="list" item="item" separator=",">
            (#{item.intentId},#{item.slotId},#{item.seq},#{item.creator},#{item.createTime} )
        </foreach>
    </insert>

    <update id="updates" parameterType="list">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update intent2Slot
            <set>
                seq=#{item.seq}
            </set>
            where id=#{item.id}
        </foreach>
    </update>



    <delete id="delByIdList" parameterType="list" >
        delete from intent2Slot where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <delete id="delByIntentIdList" parameterType="list" >
        delete from intent2Slot where intentId in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <delete id="delBySlotIdListAndIntentId" parameterType="list" >
        delete from intent2Slot where intentId = #{intentId} and slotId in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

</mapper>
