<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.q.ai.mvc.dao.Robot2IntentDao">

    <resultMap id="robot" type="com.q.ai.mvc.dao.po.Robot2Intent">
        <result property="id" column="id"/>
        <result property="robotId" column="robotId"/>
        <result property="intentId" column="intentId"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="createTime"/>
    </resultMap>



    <select id="getCountByRobotId" resultType="int">
        select count(id) from robot2Intent where robotId = #{robotId};
    </select>

    <select id="getIntentsByRobotId" resultMap="com.q.ai.mvc.dao.IntentDao.intent">
        select * from robot2Intent where robotId = #{robotId} limit #{offset},#{limit}
    </select>



    <insert id="inserts" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
        insert into robot2Intent(
        robotId,
        intentId,
        creator,
        createTime
        ) values
        <foreach collection="list" item="item" separator=",">
            (#{item.robotId},#{item.intentId},#{item.creator},#{item.createTime} )
        </foreach>
    </insert>



    <delete id="delByIdList" parameterType="list" >
        delete from robot2Intent where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <delete id="delByRobotIdList" parameterType="list" >
        delete from robot2Intent where robotId in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <delete id="delByIntentIdListAndRobotId" parameterType="list" >
        delete from robot2Intent where robotId = #{robotId} and intentId in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

</mapper>
