<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    mapper为映射的根节点，用来管理DAO接口
    namespace指定DAO接口的完整类名，表示mapper配置文件管理哪个DAO接口(包.接口名)
    mybatis会依据这个接口动态创建一个实现类去实现这个接口，而这个实现类是一个Mapper对象
-->
<!--
     id = "接口中的方法名"
     parameterType = "接口中传入方法的参数类型"
     resultType = "返回实体类对象：包.类名"  处理结果集 自动封装
     注意:sql语句后不要出现";"号
     查询：select标签
     增加：insert标签
     修改：update标签
     删除：delete标签
-->
<mapper namespace="com.q.ai.mvc.dao.TSkillDao">
    <resultMap id="tSkill" type="com.q.ai.mvc.dao.po.TSkill">
        <result property="id" column="FID"/>
        <result property="name" column="FName"/>
        <result property="version" column="FVersion"/>
        <result property="number" column="FNumber"/>
        <result property="type" column="FType"/>
        <result property="description" column="FDesc"/>
        <result property="createTime" column="FCreateTime"/>
        <result property="updateTime" column="FUpdateTime"/>
        <result property="creatorId" column="FCreatorId"/>
        <result property="prodLineId" column="FProdLineID"/>
        <result property="status" column="FStatus"/>
        <result property="initInterface" column="FInitInterface"/>
        <result property="iconPath" column="FIconPath"/>
        <result property="enabledTaskFlow" column="FEnabledTaskFlow"/>
    </resultMap>

    <insert id="addQuestionAnsweringSkill" parameterType="com.q.ai.mvc.dao.po.TSkill">
        INSERT INTO t_skill(FVersion, FNumber, FName, FDesc, FCreateTime, FCreatorId, FType)
        VALUES(#{version}, #{number}, #{name}, #{description}, #{createTime}, #{creatorId}, 20)
    </insert>

    <select id="getQuestionAnsweringSkills" resultMap="tSkill">
        select * from t_skill where FType=20 limit #{offset},#{limit};
    </select>

    <insert id="insertTaskSkill" parameterType="com.q.ai.mvc.dao.po.TSkill">
        INSERT INTO t_skill(FVersion, FNumber, FName, FDesc, FCreateTime, FCreatorId, FType)
        VALUES(#{version}, #{number}, #{name}, #{description}, #{createTime}, #{creatorId}, 10)
    </insert>

    <delete id="deleteQuestionAnsweringSkills" parameterType="list" >
        delete from t_skill where FID in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteTaskById" parameterType="list" >
        delete from t_skill where FID in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <update id="updateQuestionAnsweringSkill" parameterType="com.q.ai.mvc.dao.po.TSkill">
        update t_skill
        <set>
            <if test="version!=null">FVersion=#{version},</if>
            <if test="number!=null">FNumber=#{number},</if>
            <if test="name!=null">FName=#{name},</if>
            <if test="description!=null">FDesc=#{description},</if>
            <if test="updateTime!=null">FUpdateTime=#{updateTime},</if>
            <if test="creatorId!=null">FCreatorId=#{creatorId},</if>
        </set>
        where FID=#{id}
    </update>

    <update id="updateTaskById" parameterType="com.q.ai.mvc.dao.po.TSkill">
        update t_skill
        <set>
            <if test="version!=null">FVersion=#{version},</if>
            <if test="number!=null">FNumber=#{number},</if>
            <if test="name!=null">FName=#{name},</if>
            <if test="description!=null">FDesc=#{description},</if>
            <if test="updateTime!=null">FUpdateTime=#{updateTime},</if>
            <if test="creatorId!=null">FCreatorId=#{creatorId},</if>
        </set>
        where FID=#{id}
    </update>

    <select id="getTaskById" resultMap="tSkill">
        select * from t_skill where FID=#{id} and FType=10;
    </select>

    <select id="getTaskByNumber" resultMap="tSkill">
        select * from t_skill where FNumber=#{number} and FType=10;
    </select>

    <select id="getSkillId" resultType="Long">
        select FID from t_skill where FNumber=#{number} and FType=10;
    </select>

    <select id="getTaskList" resultMap="tSkill">
        select * from t_skill where FType=10 limit #{offset},#{limit};
    </select>

    <select id="getTaskCount" resultType="int">
        select count(*) from t_skill where FType=10;
    </select>

    <select id="getQuestionAnsweringCount" resultType="int">
        select count(*) from t_skill where FType=20;
    </select>

    <select id="getTaskListByName" resultMap="tSkill">
        select * from t_skill where FName like concat('%',#{name},'%') and FType=10 limit #{offset},#{limit}
    </select>

    <select id="getIntentionByTaskId" resultMap="tSkill">
        SELECT ti.* FROM t_skill ts
            LEFT JOIN t_skillintention tsl ON ts.FID = tsl.FSkillID
            LEFT JOIN t_intention ti ON ti.FID = tsl.FIntentionID
        WHERE ts.FID=#{id}
    </select>

</mapper>